.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}


.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.auth-left h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.auth-left p {
  font-size: 16px;
  opacity: 0.85;
  max-width: 400px;
}


.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
}

.auth-card {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.auth-card h2 {
  margin-bottom: 20px;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
}

.auth-card input:focus {
  border-color: #2a5298;
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #1e3c72;
}

/* LINK TEXT */
.auth-card p {
  margin-top: 15px;
  text-align: center;
}

.auth-card a {
  color: #2a5298;
  text-decoration: none;
}